/* Polices personnalisées*/
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap";
@import "https://fonts.googleapis.com/css2?family=Shrikhand&display=swap";
*
{
    font-family: 'Roboto', 'Shrikhand', sans-serif;
    padding:0;
    margin-left:0;
    margin-right:0;
    box-sizing:border-box;
}

body
{
    width:100%;
}

/* VARIABLES COULEURS */
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$bg-color: #f5f5f5;
$nav-color:darken($bg-color, 20%);
$ft-color: darken($nav-color, 50%);


/* FUNCTION */


/* MIXIN */
@mixin flexcol(){
    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
@mixin flexrow(){
    
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* PLACE-HOLDERS */

/*spinner 2 POUR LA PAGE D'ACCUEIL*/

.loader-container {
    background-color: lighten($secondary-color, 10%);
    margin: 0;
    padding:0;
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    overflow:hidden; 
    opacity:1;
    z-index: 999;
    animation-name: slide-top;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 3s; 
    animation-fill-mode: forwards;
    
    @keyframes slide-top
    {
        from{
            opacity:1; 
        }
        to{
            opacity:0; 
            z-index: -1;
        }
    }

    @keyframes loader-1
    {
        0% {
        transform: rotate(0deg);
        }
        99%{
            transform: rotate(360deg); 
            height:150px;opacity:.5;
        }
        100% {
            opacity:0;
        }
    }
  
    .loader-1 {
        width: 150px;
        height: 150px;
        position: absolute;
        /*pour centrer le loader au milieu de la page*/
        top: 0;
        left:0;
        bottom:0;
        right:0;
        margin: auto;
        border-radius: 50%;
        background: #ffffff;
        background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 50%);
        animation: loader-1 3s forwards linear;
        transform: translateZ(0);
    
        &::before {
            content: '';
            width: 75px;
            height: 75px;
            position: absolute;
            top: 0;
            left: 0;
            background: #ffffff;
            border-radius: 100% 0 0 0;
        }
        
        &::after {
            content: '';
            width: 120px;
            height: 120px;
            border-radius: 50%;
            background: lighten($secondary-color, 10%);
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }  
}

/* KEYFRAMES */
/*@keyframes rotation
{
    0%{
        transform: rotate(0deg); 
    }
    50%{
        transform: rotate(180deg); 
    }
    100%{
        transform: rotate(360deg); 
    }
}*/
@keyframes fade{
    0%{
        opacity:0;
    }
    /*50%{
        opacity:0.5;
    }*/
    100%{
        opacity:1;
    }
}
/* POUR TOUTES LES PAGES */
.topbar
{
    width:100%;
    height:100px;
    background-color: #ffff;
    @include flexrow();
    /*position:relative;*/
    
    &__logo{
    height: fit-content;
    padding:20px 10px;
    }
    
    a{
        text-decoration: none;
        
    }
    go-back-button{
        
        width:100%;
        display:flex;
        visibility: hidden;
        align-items: center;
    }
    p{
        font-family: 'Shrikhand';
        font-size: 40px;
        background-color: inherit;
        color:black;
        padding:0;
        margin:0;
    }
    /* POUR LES PAGES DE RESTAURANTS */
    .icon{
        color: black;
        position: absolute;
        left:0px;
        top:calc(50%-25px);
        font-size: 30px;
        font-weight: bold;
        display:flex;
    }
}
header 
{
	@include flexcol();
    background-color: $bg-color;
    padding-bottom: 50px;
/* FORMULAIRE DE RECHERCHE POUR LA PAGE INDEX.HTML*/
    form 
    {
        font-family: 'Roboto';
        width: 100%;
        padding: 0px;
        margin-bottom: 30px;
        @include flexcol();
    }
    
        /* DANS LA NAVIG */
    .text
    {
        width:100%;
        text-align: center;
        h1
        {
        font-family: 'Roboto';
        font-size: 35px;
        font-weight:300;
        }
        h2
        {
        font-family: 'Roboto';
        font-size: 28px;
        font-weight:100;
        margin-top: 20px;
        margin-bottom: 30px;
        }
    }
}
.search-line
{
    width:100%;
    @include flexrow;
    flex-wrap: nowrap;
    overflow: hidden;
    background-color: $nav-color;
    border-top: 4px solid darken($nav-color, 20%);

    .icon
    {
        color: black;
        font-size: 20px;
        padding-left: 70px;
    }
}
input#search
{
    height:50px;
    background-color: $nav-color;
    font-size: 25px;
    padding: 10px 0;
    margin-left: 15px;
    border: none;
    
    &:focus
    {
    outline: 0;
    }
}
/* HEADER PAGE2 */
header {

    .bcg-image
    {
        width:100%;
        max-width: 650px;
        height:400px;
        object-fit: contain;
        overflow: hidden;
        vertical-align: center;

        img{
            width:100%;
        }
    }
}
/* PAGE INDEX.HTML */
section
{
    width:100%;
    background-color: $bg-color;
    @include flexcol();

    a
    {
        color:black;
        text-decoration: none;
    }
}
/* LES BOUTONS */
.button 
{
    width: fit-content;
    padding: 15px;
	background-color: $bg-color;
    border-radius: 20px;
	line-height: 30px;
    @include flexrow();
    justify-content: space-around;
    box-shadow: 2px 6px 10px $nav-color;

    &:hover
    {
        box-shadow: 2px 6px 10px $ft-color;
    }
}
.go-back-button
{
    font-family: 'Shrikhand';
    font-size: 45px;
	font-weight: bold;
}
.list_restaurants 
{
	border: 1px solid $primary-color;
    background-image: linear-gradient($secondary-color,$primary-color);
    border-radius: 30px;
    color: white;
    line-height: 20px;
    margin-top: 20px;
    font-weight: bold;
    
    &:hover
    {
        opacity:.8;
    }
   
    a
    {
        color:#ffff;
    }
}

/* LES ICONES */
.icon
{
    padding-right: 15px;
    padding-left: 15px;
    color:$nav-color;
    transition: .3s ease-out;
    overflow: hidden;
    &:hover
    {
        color: $primary-color;
    }
}
/* SECTION PAGE2.HTML - POUR LES BOUTONS */

.set-meal{
    width:100%;
    max-width:650px;
    margin-top: -180px;
    background-color: #fafafa;
    border-radius: 30px 30px 0 0;
    border: 2px solid white;
    margin-bottom: 20px;
    padding-bottom:30px;

    .restr{
        width:90%;
        border-radius: 30px 30px 0 0;
        @include flexrow();
        justify-content: space-around;
        align-items: flex-start;
        padding-top: 30px;
        
        h3{
        font-family: 'Shrikhand';
        font-size: 1.75rem;
        width:fit-content;
        display:flex;
        padding:0;
        margin:0;
        }
        .list_restaurants{
            padding: 15px 40px;
        }
    }
}
.meals /* NOMS DES PLATS ET LES BOUTONS-MENU */
{
    width:100%;
    @include flexcol();
    justify-content: flex-start;
    align-items: space-around;
    /*padding-bottom: 40px;*/
    padding-top: 10px;

        
    &__name
    {
        text-transform: uppercase;
        align-self: flex-start;
        padding-left: 20px;
       /* pour l'animation s'il faut
        &:after {
            content: '';
            display: block;
            position:absolute;
            bottom:0;
            left:0;
            width: 80%;
            height: 4px;
            background: $third-color;
            
            transition: width 1s linear;
            &:after:hover {
            width:100%;
          }*/
          opacity:0;
          animation: fade 1s ease-out forwards 1s;
    
        hr{
            width: 40px;
            height: 3px;
            background-color:$third-color;
            color:$third-color;
        }
    }
        
    &__block
    {
        width:95%;
        @include flexcol();
        justify-content: center;
        align-items: center;
        /*margin-bottom: 30px;*/

        

    }
}

.meal.button
{
    background-color: #fff;
    width: 350px;
    @include flexrow();
    overflow:hidden;
    height: 90px;
    position:relative;
    cursor: pointer;
    margin-bottom: 20px;
    opacity:0;
}
/* ANIMATION FADE D'APPARITION DES BOUTONS DES PLATS*/
    .meal.button:nth-child(1)
    {
        animation: fade 1s ease-out forwards 1.4s;
    }
    .meal.button:nth-child(2) 
    {
        animation: fade 1s ease-out forwards 1.8s;
    }
    .meal.button:nth-child(3) 
    {
        animation: fade 1s ease-out forwards 2.2s;
    }
    
.content
{
    @include flexrow();
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow:hidden;
    width:130%;
    height: 90px;
    position:absolute;
    left:0;
    top:0;
    cursor: pointer;
    transition: all 1s cubic-bezier(0, 0, 1, 1); 
        &:hover
        {
            width:350px;
        
        }
        &:hover .points
        {
            opacity:1; 
        }
        &:hover .fas.fa-check-circle
        {
            transform: rotate(360deg);
        }
        .txt
        {
            width:80%;
            min-width:180px;
            height:60px;
            display:inline;
            padding-left: 10px;
            overflow:hidden;
            font-size: 18px;
            font-family: 'Roboto';
           
                /*&:nth-child(1)
                {
                    font-weight: bold;
                }*/
        }
        .price
        {
            width: 15%;
            height:100%;
            padding: 20px;
            font-weight: bold;
            @include flexrow();
            align-items: flex-end;
        }
        .points
        {
            width:5%;
            height:100%;
            padding:20px 0;
            @include flexrow();
            font-weight: bold;
            font-size: 25px;
            align-items: flex-end;
            opacity:0;
            transition: opacity .5s ease;
        }
        .blue
        {
            position: relative;
            width:25%;
            min-width:100px;
            height:100px;
            display:flex;
            align-items: center;
            justify-content: center;
            background-color: $third-color;
            font:white;
            
            .fas.fa-check-circle
            {
                position:absolute;
                color:white; 
                background-color: $third-color;
                border-radius: 50%;
                font-size: 30px;
                /*animation: rotation 2s ease-out 1s  forwards;*/
                transition: transform .65s linear .5s;
            }
        }
    }
 
/* SECTION FONCTIONNEMENT */
.action
{
    width:100%;
    font: 20px "Roboto";
    padding:40px 0;
    /*margin-bottom: 20px;*/
    background-color: white;
    @include flexcol;
   
    ol
    {
        width:95%;
        @include flexcol();
        list-style-type: none;
        counter-reset:li;
    }

    p
    {
        font-weight: bold;
        font-size: 28px;
        margin:0;
        background-color: #fff;
    }
    
    li
    {
        display:flex;
        width:90%;
        max-width: 350px;
        margin-top: 30px;
        
    }
    /* A PENSER POUR LES AUTRES SECTIONS */
    .button 
    {
        text-shadow:0 1px 0 grey;
        transition: .3s ease-out;

        &:hover
        {
            background-color: lighten($secondary-color, 20%);
        }
    }
    a
    {
        width:100%;
        position: relative;
        display:block;
        transition: all .3s ease-out;

        &:hover
        {
            background-color: lighten($secondary-color, 20%);
        }
        &:hover:before
        {
            transform: rotate(360deg);
        }
        &:before
        {
            content: counter(li);
            counter-increment: li;
            position:absolute;
            left: -30px;
            width: 30px;
            height: 30px;
            background-color: $primary-color;
            border: 1px solid $primary-color;
            border-radius: 50%;
            color:white;
            text-align: center;
            font-weight: bold;
            transition: all .3s ease out;
        }
    }
}

p{
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: bold;
    margin:0;
    padding-top:20px;
    background-color: $bg-color;
    
}
.restaurants
{
    width:100%;
    @include flexrow();
    justify-content: space-around;
    flex-wrap: wrap;
           
    /*@media (min-width:375px)
    { 
        @include flexrow();
        justify-content: space-around;
    }*/
    
    .clickable_card
    {
        width: 90%;
        max-width: 375px;
        padding-top: 20px;
    }

    .card
    {
        width: 100%;
        border-radius: 25px;
        background-color: #ffff;
        box-shadow: 2px 6px 10px $nav-color;
        overflow:hidden;
        @include flexrow();
        position: relative;
        
        &__image 
        {
            width:100%;
            height: 175px;
            object-fit: cover;
            overflow: hidden;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
        }

        &__label
        {
            width:90px;
            height:30px;
            font-family: 'Roboto';
            font-weight: bold;
            font-size: 20px;
            position: absolute;
            right:15px;
            top:15px;
            display: inline-block;
            padding: 5px;
            background-color: #6ee2c5;
            color: #038f6c;
            text-align: center;
            vertical-align: middle;
        }
        
        &__description
        {
            width:70%;
            height: fit-content;
            font-family: 'Roboto';
            padding:20px;
            margin:0 auto;
            line-height: 1.5;
            
            h3
            {
                font-weight: bold;
                font-size: 22px;
                margin:0 auto;
            }
                    
            h4
            {
                font-weight: 100;
                font-size: 24px;
                margin:0 auto;
            }
        }
        .icon-heart
        {
            width:20%;
            @include flexrow();
            position:relative;
        }
    }
}

/* ICONE POUR .ICON-HEART 
<svg class="heart" viewBox="0 0 32 29.6">
  <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
	c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/>
</svg> */
/* ICONE POUR .ICON-HEART */
.far.fa-heart
{
    display:flex;
    height:32px;
    width:32px;
    font-size: 25px;
    background-color:transparent;
    color:$nav-color;
    font-weight: normal;
    border-radius: 50%;
    padding:2px;
    position: absolute;
    justify-content: center;
    align-items: center;
    opacity:1;
    
    &:hover
    {
        font-weight: bold;
    }
        
    &::before
    {
        content:"\f004";
        /*transform-origin: 50% bottom;*/
        transition: color 3s ease-out; 
    }
    
    &:hover::before
    { 
        color:$secondary-color;
        cursor: pointer;
    }
}

/*@keyframes colorfill{ /*POUR HEART 
    0%{
        color:white;
    }
    50%{
        color:$secondary-color;
    }
    100%{
        color:$primary-color;
    }
    
}*/
 /* POUR TOUTES LES PAGES */
footer
{
	width: 100%;
	font-family: 'Roboto';
	background-color: $ft-color;
	padding: 20px 0px 20px 15px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;

    a
    {
        text-decoration: none;
        color:#ffff;
        transition: .3s ease-out;
    
        &:hover
        {
            color: $primary-color;
        }
    }
      
    .icon
    {
        padding-left: 0;
        color:#ffff;
    }
    h5
    {
        font-family: 'Shrikhand';
        font-size: 25px;
        color:#ffff;
    }
	ul 
    {
        @include flexrow();
        justify-content: space-around;
        list-style-type: none;

        @media (max-width:375px)
        {
        @include flexcol();
        align-items: flex-start;}
        
		li
        {
			border: none;
			font-size: 20px;
            font-weight: bold;
            color:white;
			padding-bottom: 20px;
			@include flexrow()
            
        }
	}
}