@charset "UTF-8";
/* Polices personnalisées*/
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap";
@import "https://fonts.googleapis.com/css2?family=Shrikhand&display=swap";
* {
  font-family: "Roboto", "Shrikhand", sans-serif;
  padding: 0;
  margin-left: 0 auto;
  margin-right: 0 auto;
  box-sizing: border-box;
}

body {
  width: 100%;
}

/* LES VARIABLES COULEURS */
/* FUNCTION */
/* MIXIN */
/* PLACE-HOLDERS */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #fafafa;
  padding-bottom: 50px;
}
header__location-panel {
  width: 100%;
}
header__title {
  font-family: "Roboto";
  font-size: 35px;
  font-weight: 300;
}
header__subtitle {
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.form {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.topbar {
  width: 100%;
  /*padding:30 px 0 px 20px 0;*/
  background-color: #ffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.topbar__logo {
  padding-top: 30px;
  padding-bottom: 20px;
}
.topbar a {
  color: black;
}

section {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
section a {
  color: black;
}

.card {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 20px;
  background-color: #ffff;
}
.card__image {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card__title {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 20px;
}
.card__subtitle {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 22px;
}

.button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px;
  background-color: #fafafa;
  border-radius: 20px;
  line-height: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  box-shadow: 2px 6px 10px #c7c7c7;
}

.go-back-button {
  font-family: "Shrikhand";
  font-size: 45px;
  font-weight: bold;
}

.list_restaurants {
  border: 1px solid #9356DC;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  color: white;
  line-height: 20px;
  margin-top: 20px;
}
.list_restaurants a {
  color: #ffff;
}

/* LES ICONES */
.icon {
  padding-right: 15px;
  padding-left: 15px;
  color: #c7c7c7;
}

.action {
  width: 100%;
  font: 20px "Roboto";
  padding: 0;
  margin-bottom: 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.action ol {
  width: 90%;
  counter-reset: li;
}
.action p {
  font-weight: bold;
  font-size: 30px;
}
.action li {
  display: flex;
  width: 90%;
  max-width: 450px;
  margin-top: 30px;
}
.action a {
  width: 100%;
}
.action .button {
  counter-increment: button;
}
.action .button ::before {
  content: counter(button) no-repeat;
  border: 3px solid #9356DC;
  border-radius: 30px;
  font-size: 8px;
  font-weight: bold;
  background-color: #9356DC;
  color: white;
  margin-left: -40px;
}

footer {
  width: 100%;
  font-family: "Roboto";
  background-color: #aeaeae;
  padding: 20px 0px 20px 15px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
footer .icon {
  padding-left: 0;
  color: #ffff;
}
footer h5 {
  font-family: "Shrikhand";
  font-size: 25px;
  color: #ffff;
}
footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
}
footer ul li {
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */